<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>2015Q1-Q2 QQ音乐活动-招商盛宴</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />

<link rel="stylesheet" href="http://imgcache.gtimg.cn/mediastyle/mobile/event/20150120_zhaoshang/index.css?max_age=259200" />

</head>
<body>

<div class="wrap" id="wrap" style="display:none">

    <div class="item item-0">
        <div class="box">
            <div class="logo">QQ音乐</div>
            <h1 class="zs_tit btit_a1">2015年Q1-Q2 QQ音乐</h1>
            <h2 class="zs_tit sutit_a2">巅峰</h2>
            <h3 class="zs_tit sutit_a3">盛宴</h3>
        </div>
    </div>



    <div class="item item-3">
        <div class="box">
            <div class="logo_s">QQ音乐</div>
            <h2 class="zs_tit btit_d1">巅峰现场</h2>
            <h3 class="zs_tit sutit_d2">之尊享会</h3>
            <h3 class="zs_tit sutit_d3">线下售票演唱会 打牌歌手助阵</h3>
            <div class="star_list star_list_big">
                <ul>
                    <li>
                        <img src="http://imgcache.gtimg.cn/mediastyle/mobile/event/20150120_zhaoshang/img/star_pic_big_1.jpg?max_age=2592000" alt="" class="pic_loc"/>
                        <div class="sl_con">
                            <p class="st_name">Jason Mraz</p>
                            <p class="st_date">2015年4月</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://imgcache.gtimg.cn/mediastyle/mobile/event/20150120_zhaoshang/img/star_pic_big_2.jpg?max_age=2592000" alt="" class="pic_loc"/>
                        <div class="sl_con">
                            <p class="st_name">周柏豪</p>
                            <p class="st_date">2015年5月</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg"></div>
    </div>

    <div class="item item-4">
        <div class="box">
            <div class="logo_s">QQ音乐</div>
            <h2 class="zs_tit btit_e1">巅峰现场</h2>
            <h3 class="zs_tit sutit_e2">之巅峰对决</h3>
            <h3 class="zs_tit sutit_e3">首家音乐平台打造的音乐PK真人秀节目</h3>
            <div class="zs_info">
                <div class="zsf_detail">
                    <div class="yr_tbox">
                        <p class="yrt_pd">首家音乐平台出品的以“互联网思维”打造的音乐PK真人秀节目</p>
                        <p class="yrt_spec">在线直播 | 双周赛制 | 全年24场 | 线上互动+线下校园</p>
                        <ul class="zsf_tlist">
                            <li>线上人气投票，每期选出两名艺人现场对决，网络直播</li>
                            <li>线下高校拉票会，入驻高校拉拢粉丝。</li>
                        </ul>
                        <a href="#" class="zsm_btn">查看更多+</a>
                    </div>
                </div>
                <div class="zsf_det">
                    <div class="syear_tbox">
                        <ul>
                            <li>
                                <h3 class="st_tit">2015年4月</h3>
                                <div class="stn_box">
                                    <p class="st_text">何超仪  +  袁娅维</p>
                                    <p class="st_text">胡&nbsp;&nbsp;&nbsp;夏  +  苏&nbsp;&nbsp;&nbsp;醒</p>
                                </div>
                            </li>
                            <li>
                                <h3 class="st_tit">&nbsp;</h3>
                                <div class="stn_box">
                                <p class="st_text">卢广仲  +  李&nbsp;&nbsp;&nbsp;琦</p>
                                </div>
                            </li>
                            <li>
                                <h3 class="st_tit">2015年5月</h3>
                                <div class="stn_box">
                                <p class="st_text">刘美麟  +  袁咏琳</p>
                                <p class="st_text">张峡浩  +  王琤亮</p>
                                </div>
                            </li>
                            <li>
                                <h3 class="st_tit">&nbsp;</h3>
                                <div class="stn_box">
                                <p class="st_text">BY2 +  韩国团体</p>
                                </div>
                            </li>
                            <li>
                                <h3 class="st_tit">2015年6月</h3>
                                <div class="stn_box">
                                <p class="st_text">薛之谦  +  金志文</p>
                                <p class="st_text">安又琪  +  潘&nbsp;&nbsp;&nbsp;辰</p>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="zsm_btn">收起<span class="icon icon_rrow"></span> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </div>


    <div class="item item-5">
        <div class="box">
            <div class="logo_s">QQ音乐</div>
            <h2 class="zs_tit btit_f1">在线直播</h2>
            <h3 class="zs_tit sutit_f2">足不出户 玩转演出</h3>
            <div class="zs_info">
                <div class="zsf_detail">
                    <div class="yr_tbox">
                        <h4 class="yc_mtit">大型演唱会直播</h4>
                        <div class="show_mlist">
                            <div class="ssm_item">
                                <span class="singer_name">林俊杰</span>
                                <span class="sn_date">2015年1月</span>
                            </div>
                            <div class="ssm_item">
                                <span class="singer_name">天娱快男 </span>
                                <span class="sn_date">2015年3月</span>
                            </div>
                            <div class="ssm_item">
                                <span class="singer_name">陶喆</span>
                                <span class="sn_date">2015年3月</span>
                            </div>
                            <div class="ssm_item">
                                <span class="singer_name">许嵩</span>
                                <span class="sn_date">2015年4月</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </div>

    <div class="item item-6">
        <div class="box">
            <div class="logo_s">QQ音乐</div>
            <h2 class="zs_tit btit_g1">星光剧场</h2>
            <h3 class="zs_tit sutit_g2">SNH48周周精彩直播</h3>
            <div class="zs_info">
                <div class="zsf_detail">
                    <div class="yr_tbox">
                        <h4 class="par_ntit">SNGH48人气天团</h4>
                        <div class="par_con">每周<em>五</em>、<em>六</em>、<em>日</em> 精彩演出<em>网络直播</em><br/>全年无休 追“<em>剧</em>”精彩不断
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </div>

    <div class="item item-7">
        <div class="box">
            <div class="logo_s">QQ音乐</div>
            <h2 class="zs_tit btit_h1">电视音乐类</h2>
            <div class="zs_show">
                <div class="zsf_mlist">
                    <ul>
                        <li class="js-imsinger">
                            <div class="cls_loc">
                                 <img src="http://imgcache.gtimg.cn/mediastyle/mobile/event/20150120_zhaoshang/img/mucls_thumb1.jpg?max_age=2592000" alt="" class="co_tub" />
                                <div class="cln_bg">
                                    <div class="cln_con">
                                        <p class="mtc_tle">《我是歌手》</p>
                                        <p class="mtc_date">2015年Q1</p>
                                    </div>
                                    <div class="cln_detail">
                                        <p class="mtc_det">《我是歌手》握手会基本信息：</p>
                                        <p><span>时间：</span>1月8日起每周五</p>
                                        <p><span>地点：</span>长沙</p>
                                        <p><span>嘉宾：</span>《我歌》艺人</p>
                                        <p><span>形式：</span>握手会，现场直播，线下售票</p>
                                        <p><span>场次：</span>预计40分钟/期，共8期。</p>
                                    </div>
                                </div>

                                <a href="#" class="expr_btn"><span></span></a>
                            </div>
                        </li>
                        <li>
                            <div class="cls_loc">
                                <img src="http://imgcache.gtimg.cn/mediastyle/mobile/event/20150120_zhaoshang/img/mucls_thumb2.jpg?max_age=2592000" alt="" class="co_tub" />
                                <div class="cln_bg">
                                    <div class="cln_con">
                                        <p class="mtc_tle">《中国好歌曲》</p>
                                        <p class="mtc_date">2015年Q1</p>
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </div>

    <div class="item item-8">
        <div class="box">
            <div class="logo_cont">
                <div class="logo">QQ音乐</div>
            </div>
            <h2 class="year_ctit">2014.Q4岁末诚邀共享音乐盛宴</h2>
            <p class="year_tip">重磅倾情打造 明星饕餮盛宴<br/>三大产品首次强势整合</p>
        </div>
        <div class="bg"></div>
    </div>

<div class="item item-9">
        <div class="box">
            <div class="zs_info">
                <div class="zsf_shown">
                    <div class="syear_tbox">
                        <p class="yrt_pd pr_bt">海内外大批顶尖歌手加盟，互联网全民参与式音乐颁奖典礼，QQ音乐殿堂级盛事。</p>
                        <p class="sh_time"><span>时 间</span>2015年3月25日</p>
                        <p class="sh_addr"><span>地 点</span>深圳湾体育馆</p>
                        <p class="nl_tle">拟邀:</p>
                        <p class="name_list">朴树、许嵩、杨坤、关喆、李泉、李荣浩、张杰、胡彦斌、张靓颖、李宇春、阿兰、袁娅维、吉克隽逸、王菲、筷子兄弟、羽泉、TFｂｏｙｓ、牛奶咖啡 、张学友、林俊杰、炎亚纶、苏打绿、周杰伦、潘玮柏、李圣杰、游鸿明、张敬轩、张信哲、谢霆锋、蔡依林、丁当、邓紫棋、安心亚、杨丞琳、何超仪、江美琪、twins、五月天、populady、苏见信、MP魔幻力量</p>
                        <p class="text_brown"><span>*</span>艺人初步邀约阶段,具体阵容以最终执行实际为准。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </div>

    <div class="item item-10">
        <div class="box">
            <div class="logo_cont">
                <div class="logo">QQ音乐</div>
            </div>
            <h2 class="rsp_ctit">2014.Q4岁末诚邀共享音乐盛宴</h2>
            <p class="rsp_tip">*以上所有排期可能根据实际情况发生变动，<br/>请提前咨询商业化接口人。</p>
            <a href="#" class="enter_btn">进入QQ音乐<span class="icon ico_ent"></span> </a>
        </div>
    </div>


</div>


<div id="loading"><div></div></div>


<div class="mod_control firstScr">
    <ul class="mod_tag">
        <li class="current"><span>1</span></li>
        <li><span>2</span></li>
        <li><span>3</span></li>
        <li><span>4</span></li>
        <li><span>5</span></li>
        <li><span>6</span></li>
        <li><span>7</span></li>
        <li><span>8</span></li>
        <li><span>9</span></li>
        <li><span>10</span></li>
        <li><span>11</span></li>
    </ul>
    <div class="mod_start" id="arr"><span class="icon icon_slide"></span></div>

</div>

<div class="symbol_box">
    <div class="syb sym_1"></div>
    <div class="syb sym_2"></div>
    <div class="syb sym_3"></div>
    <div class="syb sym_4"></div>
</div>

</div>

<script type="text/javascript" src="http://imgcache.gtimg.cn/music/h5/lib/js/zepto-1.0.min.js?_bid=299&max_age=2592000"></script>
<script type="text/javascript" src="http://imgcache.gtimg.cn/music/h5/lib/js/music-1.0.min.js?_bid=299&max_age=2592000"></script>

<script type="text/javascript" src="iSlider.js"></script>


<script type="text/javascript">
    document.getElementById('loading').style.opacity=1
    iSlider.init({
        container:'#wrap',
        speed:400,
        onSlide:function () {
            $('.mod_tag .current').removeClass('current');
            $('.mod_tag li')[this.index].className='current';
        },
        loadingId:'#loading',
        loadingImgs:[
            'http://imgcache.gtimg.cn/mediastyle/mobile/event/20150120_zhaoshang/img/body.jpg?max_age=19830212',
            'http://imgcache.gtimg.cn/mediastyle/mobile/event/20150120_zhaoshang/img/logo.png?max_age=19830212',
            'http://imgcache.gtimg.cn/mediastyle/mobile/event/20150120_zhaoshang/img/sprite.png?max_age=19830212',
            'http://imgcache.gtimg.cn/mediastyle/mobile/event/20150120_zhaoshang/img/cmusic_text.png?max_age=19830212'
        ],
        preLoadingImgs:[],
        onLoading:function (complete,total) {
            this.$('#loading div').style.width=complete/total*100+'%';

            if (complete>=total) {
                document.getElementById('loading').style.display='none'
            }
        }
    });


    $('.wrap').on('tap','.zsm_btn',function () {
        $('.zs_info').toggleClass('ifo_active')
    }).on('tap','.js-imsinger',function () {
        $(this).toggleClass('lc_active');
    }).on('tap','.enter_btn',function () {
        M.openMusic();
    })

    M.share.init({
        title:'<%= data.t_share.Ftitle %>',
        desc:'<%= data.t_share.Fdesc %>',
        link:M.delParam('mmkey',M.delParam('sid',location.href)),
        img:'<%= data.t_share.Fpic %>'
    })

</script>


</body>
</html>